# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_MICRODASH=y

CONFIG_ARM_MPU=y
CONFIG_MPU_STACK_GUARD=y

CONFIG_CLOCK_CONTROL_NRF_K32SRC_SYNTH=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_50PPM=y

CONFIG_GPIO=y
CONFIG_GPIO_AS_PINRESET=n
CONFIG_NFCT_PINS_AS_GPIOS=y

CONFIG_SERIAL=n

CONFIG_CONSOLE=n
CONFIG_UART_CONSOLE=n
