BasedOnStyle: Google
Standard: Cpp11
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 100
ContinuationIndentWidth: 2
CommentPragmas: NOLINT:.*
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentWidth: 2
PointerAlignment: Left
TabWidth: 2
UseTab: Never
