mainmenu "Configuration"

menu "PassingLink Configuration"

config PASSINGLINK_ALLOCATOR
  bool "Use passinglink's custom allocator"
  default y
  default n if NATIVE_APPLICATION
  help
    Use a custom allocator with precisely-sized buckets for PS4 authentication with mbedtls.

config PASSINGLINK_CHECK_MAIN_STACK_HWM
  bool "Check the main stack's high watermark"
  default y
  select INIT_STACKS
  help
    Calculate the main stack's high watermark.

config PASSINGLINK_PROFILING
  bool "Enable time profiling"
  default n
  help
    Profile some important functions.

choice PASSINGLINK_INPUT
  prompt "Input method"
  default PASSINGLINK_INPUT_GPIO

config PASSINGLINK_INPUT_NONE
  bool "None"
  help
    Disable input

config PASSINGLINK_INPUT_GPIO
  bool "GPIO pins"
  help
    Enable input from GPIO pins

config PASSINGLINK_INPUT_EXTERNAL
  bool "External (e.g. shell)"
  help
    Enable input from an external source (e.g. the shell)

endchoice

choice PASSINGLINK_INPUT_TOUCHPAD
  prompt "Trackpad"
  default PASSINGLINK_INPUT_TOUCHPAD_NONE

config PASSINGLINK_INPUT_TOUCHPAD_NONE
  bool "None"
  help
    Disable touchpad input.

config PASSINGLINK_INPUT_TOUCHPAD_PANTHERA
  bool "Razer Panthera"
  select I2C
  help
    Enable Razer Panthera touchpad input.

endchoice

config PASSINGLINK_INPUT_QUEUE
  bool "Input queue"
  default n
  help
    Enable input queue.

config PASSINGLINK_INPUT_SHELL
  bool "Enable input from shell"
  default n
  select SHELL
  select PASSINGLINK_INPUT_QUEUE
  help
    Enable input from UART shell.

menu "Output methods"

config PASSINGLINK_OUTPUT_USB_SWITCH
  bool "Enable Nintendo Switch emulation"
  default y
  help
    Output to Switch over USB

config PASSINGLINK_OUTPUT_USB_SWITCH_PROBE
  bool "Automatically detect Nintendo Switch"
  default y
  depends on PASSINGLINK_OUTPUT_USB_SWITCH
  help
    Automatically detect the Nintendo Switch.
    This adds ~1 second to startup time if we're not connected to a Switch.
    With this disabled, you can still select the Switch manually by holding Square.

config PASSINGLINK_OUTPUT_USB_PS3
  bool "Enable PS3 emulation"
  default y
  help
    Output to PS3 over USB

config PASSINGLINK_OUTPUT_USB_PS3_PROBE
  bool "Automatically detect PS3"
  default y
  depends on PASSINGLINK_OUTPUT_USB_PS3
  help
    Automatically detect the PS3.
    This adds ~1 second to startup time if we're not connected to a PS3.
    With this disabled, you can still select the PS3 manually by holding Triangle.

config PASSINGLINK_OUTPUT_USB_PS4
  bool "Enable PS4 emulation"
  default y
  help
    Output to PS4 over USB

config PASSINGLINK_OUTPUT_USB_PS4_AUTH
  bool "Enable PS4 authentication"
  default y
  help
    Enable PS4 authentication
  depends on MBEDTLS && PASSINGLINK_OUTPUT_USB_PS4

config PASSINGLINK_OUTPUT_USB_FORCE_PROBE_REBOOT
  bool "Force reboot for USB probe"
  default n
  help
    Reboot to probe USB even on boards that support USB deinitialization
  depends on PASSINGLINK_OUTPUT_USB_SWITCH_PROBE || PASINGLINK_OUTPUT_USB_PS3_PROBE

config PASSINGLINK_OUTPUT_USB_DEFERRED
  bool "Defer USB writes for better latency"
  default y

config PASSINGLINK_OUTPUT_USB_DEFERRED_WORK_QUEUE
  bool "Move deferred USB writes to their own work queue for better latency"
  default y
  depends on PASSINGLINK_OUTPUT_DEFERRED
  help
    Move USB HID handling to a separate maximum-priority work queue.

endmenu # Output methods

menu "Display"

config PASSINGLINK_LED
  bool "LED output"
  default y
  help
    Enable LED management

config PASSINGLINK_DISPLAY
  bool "Enable display output"
  default n
  help
    Enable display output

config PASSINGLINK_DISPLAY_SSD1306
  bool "Enable SSD1306 display output"
  default n
  help
    Enable I2C output to an SSD1306 OLED driver
  select I2C
  depends on PASSINGLINK_DISPLAY

endmenu

config PASSINGLINK_RUNTIME_PROVISIONING
  bool "Support provisioning of device keys over USB"
  default y
  depends on FLASH
  depends on FLASH_MAP

menu "Optional components"

config PASSINGLINK_BT
  bool "Bluetooth"
  default n
  select BT
  select BT_PERIPHERAL
  select BT_DEVICE_NAME_DYNAMIC
  help
    Bluetooth support.

config PASSINGLINK_BT_INPUT
  bool "External input over Bluetooth"
  depends on PASSINGLINK_INPUT_EXTERNAL

config PASSINGLINK_BT_AUTHENTICATION
  bool "Use Bluetooth authentication"
  default y
  select BT_SMP
  select BT_FIXED_PASSKEY
  depends on PASSINGLINK_BT

config PASSINGLINK_BT_PAIRING_KEY
  int "Bluetooth pairing key"
  default 123456
  depends on PASSINGLINK_BT_AUTHENTICATION
  help
    Bluetooth pairing key.

config PASSINGLINK_OPT_GUNDAM_CAMERA
  bool "Gundam EXVS spectator camera control"
  default n
  select PASSINGLINK_INPUT_QUEUE
  help
    Macros to control the spectator camera in Gundam.

endmenu # Optional components

endmenu # Passing Link Configuration

menu "Kernel configuration"

source "Kconfig.zephyr"

endmenu # Kernel configuration

# Don't emit logs twice.
config LOG_BACKEND_UART
  default n if SHELL

# Set USB logging to ERR by default.
config USB_DRIVER_LOG_LEVEL
  default 1 if LOG

config USB_DEVICE_LOG_LEVEL
  default 1 if LOG

# Turn on zero latency IRQs to reduce Bluetooth radio IRQ latency.
config ZERO_LATENCY_IRQS
  default y if PASSINGLINK_BT

config BT_CTLR_ZLI
  default y if PASSINGLINK_BT

# Prefer 7.5ms connection interval.
config BT_PERIPHERAL_PREF_MIN_INT
  default 6 if PASSINGLINK_BT

config BT_PERIPHERAL_PREF_MAX_INT
  default 6 if PASSINGLINK_BT
