/ {
  gpio_keys {
    compatible = "gpio-keys";
    button_north {
      gpios = <&gpiob 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "North Button";
    };

    button_east {
      gpios = <&gpiob 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "East Button";
    };

    button_south {
      gpios = <&gpiob 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "South Button";
    };

    button_west {
      gpios = <&gpiob 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "West Button";
    };

    button_l1 {
      gpios = <&gpioa 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "L1 Button";
    };

    button_l2 {
      gpios = <&gpioa 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "L2 Button";
    };

    button_l3 {
      gpios = <&gpioa 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "L3 Button";
    };

    button_r1 {
      gpios = <&gpioa 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "R1 Button";
    };

    button_r2 {
      gpios = <&gpioa 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "R2 Button";
    };

    button_r3 {
      gpios = <&gpioa 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "R3 Button";
    };

    button_select {
      gpios = <&gpiob 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Select Button";
    };

    button_start {
      gpios = <&gpiob 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Start Button";
    };

    button_home {
      gpios = <&gpiob 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Home Button";
    };

    button_touchpad {
      gpios = <&gpiob 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Touchpad Button";
    };

    stick_up {
      gpios = <&gpiob 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Stick Up";
    };

    stick_down {
      gpios = <&gpiob 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Stick Down";
    };

    stick_right {
      gpios = <&gpiob 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Stick Right";
    };

    stick_left {
      gpios = <&gpiob 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Stick Left";
    };
  };
};
