# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_PL_E73=y

CONFIG_ARM_MPU=y
CONFIG_MPU_STACK_GUARD=y

CONFIG_GPIO=y
CONFIG_GPIO_AS_PINRESET=n
CONFIG_NFCT_PINS_AS_GPIOS=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_SYNTH=y

CONFIG_SERIAL=y
CONFIG_UART_NRFX=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_LOG_BACKEND_UART=y

CONFIG_I2C=y
CONFIG_I2C_0=y
CONFIG_I2C_NRFX=y

CONFIG_PASSINGLINK_INPUT_TOUCHPAD_PANTHERA=y
